<form class="form-horizontal new-debate-view" ng-submit="newdebatevm.submit()">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" ng-model="newdebatevm.data.title" placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-2 control-label">Author</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="author" ng-model="newdebatevm.data.author" placeholder="Anonymous">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" ng-model="newdebatevm.data.debateText" placeholder="Some text to describe your debate"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="pro-pos" class="col-sm-2 control-label">Pro</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="pro-pos" ng-model="newdebatevm.data.proText" placeholder="Describe the pro position">
        </div>
    </div>
    <div class="form-group">
        <label for="con-pos" class="col-sm-2 control-label">Con</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="con-pos" ng-model="newdebatevm.data.conText" placeholder="Describe the con position">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-green">Start Debate</button>
        </div>
    </div>
</form>
