<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<!-- start: HEAD -->

<head>
	<title>Debattle - Login</title>
	<!-- start: META -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="" name="description" />
	<meta content="Markus Guder" name="author" />
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
	<!-- Custom Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/creative.css" type="text/css">
	<!-- end: CLIP-TWO CSS -->
	<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
	<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->

<body class="login">
	<!-- start: LOGIN -->
	<div class="row">
		<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="logo margin-top-10" style="margin-right: 0; margin-top:50px; margin-bottom:50px">
				<a><img class="img-responsive" style="margin: 0 auto;" width="150px" height="150px" src="./assets/img/mainLogo.png"></a>
			</div>
			<!-- LOGIN FORM -->
			<form action="/login" class="form-login" method="post">
				<fieldset>
					<legend>
						Sign in
					</legend>
					<p>
						Please enter your name and password to log in.
					</p>
					<div id="username" class="form-group">
						<span class="input-icon">
								<input type="text" class="form-control" name="email" placeholder="Username">
								<i class="fa fa-user"></i> </span>
					</div>
					<div id="password" class="form-group form-actions">
						<span class="input-icon">
								<input type="password" class="form-control password" name="password" placeholder="Password">
								<i class="fa fa-lock"></i>
								 </span>
					</div>
					<div class="form-actions">
						<button id="loginButton" type="submit" class="btn btn-danger pull-right">
							Login <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
					<div class="form-actions">
						<a id="signUpButton" href="./signup" class="btn btn-danger pull-right" style="margin-right: 20px;">
							SignUp <i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</fieldset>
			</form>
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				&copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Markus Guder</span>. <span>All rights reserved</span>
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- end: LOGIN BOX -->
	</div>
	</div>
</body>
<!-- end: BODY -->

</html>
